#search {
    display: inline-block;
}

.outstation {
    background-size: 15px, 30px;
    text-align: center;
    margin: 5px;
    padding: 15px;
    background-color: aliceblue;
    border-radius: 10px;
    display: inline-block;

}

div#col_head {
    height: 50px;
    margin-bottom: 10px;
}

div#col_content {
    float: right;
    width: 1050px;
    margin-bottom: 10px;
}

div#col_side {
    float: left;
    height: 0px;
    width: 450px;
    margin-bottom: 10px;
}


div.result {
    display: grid;
    grid-template-columns: 450px 450px;
    background-size: 15px, 30px;
    text-align: left;
    margin: 5px;
    background-color: antiquewhite;
    border-radius: 10px;
    width: 900px;
    padding: 15px;
}

div.bought {
    display: inline-block;
    background-size: 15px, 30px;
    text-align: left;
    margin: 5px;
    background-color: antiquewhite;
    border-radius: 10px;
    width: 900px;
    padding: 15px;
}