<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>首頁</title>
	<link rel="stylesheet" href="../static/css/base.css">
	<link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
	<div id="col_head">
		<ul>
			<li><a href="/index" class="active">首頁</a></li>
			<li><a href="/viewSchedule">查詢班次&票價</a></li>
			<li><a href="/orderGo">單程訂票</a></li>
			<li><a href="/viewOrder">訂票紀錄查詢&取消訂票</a></li>

			<li style="float:right"><a href="/login">登入</a></li>

		</ul>
	</div>
	<br>
	<div id="col_body">
		<a href="https://www.travel.taipei/zh-tw" target="_blank" title="台北景點 (另開視窗)">
			<div class="pics1"></div>
		</a>
		<a href="https://tourism.hccg.gov.tw/" target="_blank" title="新竹景點 (另開視窗)">
			<div class="pics2"></div>
		</a>
		<a href="https://travel.taichung.gov.tw/ " target="_blank" title="台中景點 (另開視窗)">
			<div class="pics3"></div>
		</a>

		<a href="https://www.twtainan.net/" target="_blank" title="台南景點 (另開視窗)">
			<div class="pics4"></div>
		</a>
		<a href="https://khh.travel/" target="_blank" title="高雄景點 (另開視窗)">
			<div class="pics5"></div>
		</a>
		<a href="https://www.erv-nsa.gov.tw/zh-tw/attractions/list" target="_blank" title="花東景點 (另開視窗)">
			<div class="pics6"></div>
		</a>
	</div>


</body>

</html>