
<!DOCTYPE html>
<html lang="zh-Hant">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>國光客運查詢系統</title>

	<script src="https://code.jquery.com/jquery-3.7.1.js"
		integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"
		integrity="sha256-6XMVI0zB8cRzfZjqKcD01PBsAy3FlDASrlC8SxCpInY=" crossorigin="anonymous"></script>
	<script src="../static/js/station.js" type="text/javascript"></script>
	<script src="../static/js/date.js" type="text/javascript"></script>

	<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
	<!-- <link rel="stylesheet" href="//resources/demos/style.css"> -->
	<link rel="stylesheet" href="../static/css/viewSchedule.css">

	<link rel="stylesheet" href="../static/css/base.css">
	
</head>

<body>

	<div id="col_head">
		<ul>
			<li><a href="/index" class="active">首頁</a></li>
			<li><a href="/viewSchedule">查詢班次&票價</a></li>
			<li><a href="/orderGo">單程訂票</a></li>
			<li><a href="/viewOrder">訂票紀錄查詢&取消訂票</a></li>

			<li style="float:right"><a href="/logout">您好，這邊登出</a></li>

		</ul>
	</div>

	<div id="col_content">
		<form id="search" method="POST" action="/viewSchedule" onsubmit="return search()">
			<div class="outstation">
				<label>起站:</label>
				<select name="startStation" id="startStation"
					onchange="changefield('startStation',finalStation,'/getSelect')">
					<option value="none"> 請選擇 </option>
					{% for start in starts %}
					<option value="{{ starts[start] }}"> {{ start }} </option>
					{% endfor %}
				</select>

				&emsp;&emsp;&emsp;&emsp;

				<label> 迄站:</label>
				<select name="finalStation" id="finalStation" required>
					{# 這里空著 等待獲取後端返回的數據再寫 #}
				</select>
			</div>

			<div class="outstation">
				<!-- 日期區間:<input type="date" name="startDate" id="startDate">~
										<input type="date" name="endDate" id="endDate">
											<script src="..\static\js\date.js"></script> -->

				<label for="from">乘車日期:</label>
				<input type="text" id="startDate" name="startDate" pattern="[0-1]\d/[0-3]\d/[2-9]\d{3}" required>
				<label for="to">到:</label>
				<input type="text" id="finalDate" name="finalDate" pattern="[0-1]\d/[0-3]\d/[2-9]\d{3}" required>
			</div>
			<br />

			&emsp;<input type="submit" value="查詢" class="buttons" id="submit">
			<input type="reset" value="清除" class="buttons">

		</form><br />
		&emsp;實際票價以搭車日期及現場票價為準。<br />
		&emsp;請不要選擇超過2天的日期。
		<!-- <a href="https://www.w3schools.com/" target="_blank">
		<input type="submit" value="回首頁頁" class="buttons">
	</a> -->
		<br /><br />

		<div id="showWait">
		</div>
		<strong style="color:#FF0080;">&emsp;{{ msg }}</strong>

		<!-- return render_template("viewSchedule.html", results=[schedule.to_html(classes="data",header="true")]) -->
		<div id="searchResult">
			{% for result in results %}
			{{ result| safe}}
			{% endfor %}
		</div>
	</div>
	<div id="col_side">
		{{ iframe|safe }}
	</div>

</body>

</html>